.room-item
	background: #eee
	color: #333
	padding: 1em
	border-radius: 5px
	cursor: pointer
	&:nth-child(odd)
		grid-column: 1/2
	&:nth-child(even)
		grid-column: 2/3

a
	text-decoration: none


.room-item-field
	font-size: 18px

.room-item-header
	font-weight: bold